.signup-container {
  display: flex;

  .signup-left {
    width: 34%;
  }

  .signup-forms {
    width: 66%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      margin-bottom: 40px;
    }

    .radio-group {
      background-color: #F0F0F5;
    }
  }
}
