.login-container {
  display: flex;
  flex-direction: row;

  .login-left {
    width: 34%;
  }

  .login-forms {
    width: 66%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      margin-bottom: 24px;
    }

    span {
      font-size: 14px;
      font-family: 'Nunito', sans-serif;

      a {
        color: #7397F4;
      }
    }
  }
}

@media (max-width: 1118px) {
  .login-container {
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-left {
      display: none;
    }

    .login-forms {
      background-color: #F0F0F5;

      height: 350px;
      width: 350px;
      border-radius: 10px;

      h1 {
        padding-top: 40px;
      }

      span {
        padding-bottom: 20px;
      }
    }

  }

}
