<div class="login-container">

  <app-forms-border class="login-left"></app-forms-border>

  <div class="login-forms">
    <h1>Faça seu login!</h1>

    <p>
      <mat-form-field appearance="outline" [style.width.px]=280>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Digite seu e-mail">
      </mat-form-field>
    </p>

    <mat-form-field appearance="outline" [style.width.px]=280>
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite sua senha" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" [style.width.px]=100>Entrar</button>

    <span>Ainda não possui uma conta? <a color="warn" [routerLink]="['/signup']">Cadastre-se</a></span>
  </div>

</div>

