<div class="login-container">

  <div class="login-left">
    <span>Encontre profissionais diversos em um só lugar.</span>
    <img class="login-img" src="../../../assets/professional2.png" alt="Fotográfa">
  </div>

  <div class="login-forms">
    <h1>Faça seu login!</h1>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Digite seu e-mail">
    </mat-form-field>

    <a>Esqueceu sua senha?</a>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite sua senha">
    </mat-form-field>

    <button mat-raised-button color="primary">Entrar</button>

    <span>Ainda não possui uma conta? <a href="#">Cadastre-se</a></span>
  </div>



</div>

