<div class="professionals-list-container">

  <div class="intro">

    <div class="title">
      <img src="../../../../assets/person_icon.svg" alt="Ícone de pessoa">
      <h1>Profissionais</h1>
    </div>

    <div class="search">
      <img src="../../../../assets/category_icon.svg" alt="Ícone de categoria">
      <input type="text" placeholder="Pesquisa">
      <img class="search-icon" src="../../../../assets/search.svg" alt="Ícone de pesquisa">
    </div>

  </div>

  <div class="table">

  </div>

</div>
