<div class="professionals-list-container">

  <div class="intro">

    <div class="title">
      <img src="../../../../assets/person_icon.svg" alt="Ícone de pessoa">
      <h1>Profissionais</h1>
    </div>

    <div class="search">
      <img src="../../../../assets/category_icon.svg" alt="Ícone de categoria">
      <input type="text" placeholder="Pesquisa">
      <img class="search-icon" src="../../../../assets/search.svg" alt="Ícone de pesquisa">
    </div>

  </div>

  <div class="table" *ngIf="professionals$ | async as professionals; else loading">
    <table mat-table [dataSource]="professionals" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let professional">{{ professional.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let professional">{{ professional.category }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let professional">{{ professional.description }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let professional">
          <a mat-raised-button href="https://www.google.com/" target="_blank">Contratar</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
